<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Pokemon List</title>

		<link rel="stylesheet" href="/css/reset.css" />
		<link rel="stylesheet" href="/css/fonts.css" />
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="/css/liststyle.css" />
		<link rel="stylesheet" href="/css/frames.css" />

		<script src="/js/main.js" defer></script>
		<script src="/js/pokelist.js" type="module" defer></script>

		<!-- fa icons -->
		<script
			src="https://kit.fontawesome.com/91fd30522d.js"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<%- include("partials/header-aside") %>
		<section id="buddy" class="framed no-hd">
			<h1>My Buddy</h1>
			<img
				src="/assets/img/magneton_icon.png"
				alt="buddy"
				class="pixelated"
			/>
			<p>Magneton</p>
		</section>
		<main>
			<p>Generation <%= gen %></p>
			<section id="pokelist-container">
				<section id="selectedPokemon">
					<button id="buddy-button">❤</button>
					<!-- button zal aanduiden of pokemon de buddy is als je hem selecteert -->

					<h2>Scovillain</h2>
					<h3>0952</h3>
					<img
						id="releasebutton"
						src="/assets/img/pokemoncaught.png"
						alt="Caughtchecker"
					/>
					<!-- clickable om vrij te laten(misschien optioneel?) maar was wel nodig in de opdracht -->
					<img
						id="selection"
						src="/assets/img/scovillain.png"
						alt=""
					/>
					<!-- pokemon word aangeduid door in de lijst 1 aan te clicken en wordt zo ook deze image -->
					<img id="type1" src="/assets/img/grass.png" alt="" />
					<img id="type2" src="/assets/img/fire.png" alt="" />
					<button id="battle-button">Battle</button>
					<Button id="catch-button">Catch</Button>
					<!-- displayed types van de aangeduide pokemon , 1 img als er 1 type is-->
					<section class="stat-grid">
						<p>HP</p>
						<p>ATK</p>
						<p>DEF</p>
						<p>SPA</p>
						<p>SPD</p>
						<p>SPE</p>
					</section>
					<p id="dateCaught">Caught on 30/04/2024</p>

					<!-- displayed de stats en de naam van de aangeduide pokemon -->
				</section>
				<section id="pokemon-images" style="overflow-y: scroll">
					<% for( const p of gen_pokemon ) { %>
					<article class="pokecontainer selected">
						<img
							class="pokemon"
							src="<%= p.icon %>"
							alt="<%= p.name %>"
							height="128"
							width="128"
						/>
					</article>
					<% } %>
				</section>
			</section>
			<video autoplay muted loop id="backgroundvideo">
				<source
					src="/assets/img/comperatorbackground.mp4"
					type="video/mp4"
				/>
				Your browser does not support HTML5 video.
			</video>
		</main>
		<%- include("partials/footer") %>
	</body>
</html>
