<!DOCTYPE html>
<html lang="nl">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Pokemon List</title>

		<link rel="stylesheet" href="/css/reset.css" />
		<link rel="stylesheet" href="/css/fonts.css" />
		<link rel="stylesheet" href="/css/style.css" />
		<link rel="stylesheet" href="/css/liststyle.css" />
		<link rel="stylesheet" href="/css/frames.css" />
		<link rel="stylesheet" href="/css/loading.css" />

		<script src="/js/main.js" defer></script>
		<script src="/js/pokelist.js" type="module" defer></script>

		<!-- fa icons -->
		<script
			src="https://kit.fontawesome.com/91fd30522d.js"
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		<%- include("partials/header-aside") %>
		<section id="buddy" class="framed no-hd">
			<h1>My Buddy</h1>
			<img
				src="/assets/img/magneton_icon.png"
				alt="buddy"
				class="pixelated"
			/>
			<p>Magneton</p>
		</section>
		<main>
			<!-- This field will hold the limits of the generation used in the js -->
			<input type="hidden" id="gen-limits" value="<%= genLimits %>" />
			<h1 id="title">Generation <%= gen %></h1>
			<section id="pokelist-container">
				<section id="selected-pokemon">
					<div id="pokemon-info">
						<h2 id="pokemon-name"><%= pokemon.name %></h2>
						<h3 id="pokemon-id">
							<%= String(pokemon.id).padStart(4, "0") %>
						</h3>
					</div>
					<button id="buddy-button">❤</button>
					<img
						id="release-button"
						src="/assets/img/pokemoncaught.png"
						alt="pokeball"
					/>
					<div
						id="pokemon-image-container"
						class="bg-<%= pokemon.types[0] %>"
					>
						<img
							id="pokemon-image"
							src="<%= pokemon.sprite %>"
							alt="<%= pokemon.name %>"
							class="pixelated"
							width="500"
							height="500"
						/>
					</div>
					<img
						class="type"
						src="/assets/img/<%= pokemon.types[0] %>.png"
						alt="<%= pokemon.types[0] %>"
					/>
					<img
						class="type"
						src="/assets/img/<%= pokemon.types[1] %>.png"
						alt="<%=
					pokemon.types[1] %>"
					/>
					<button id="battle-button">Battle</button>
					<Button id="catch-button">Catch</Button>
					<section class="stat-grid">
						<div class="stat">
							<p>HP</p>
							<p class="stat-value" id="hp">
								<%= pokemon.stats.hp %>
							</p>
						</div>
						<div class="stat">
							<p>ATK</p>
							<p class="stat-value" id="atk">
								<%= pokemon.stats.attack %>
							</p>
						</div>
						<div class="stat">
							<p>DEF</p>
							<p class="stat-value" id="def">
								<%= pokemon.stats.defense %>
							</p>
						</div>
						<div class="stat">
							<p>SPA</p>
							<p class="stat-value" id="spa">
								<%= pokemon.stats.specialAttack %>
							</p>
						</div>
						<div class="stat">
							<p>SPD</p>
							<p class="stat-value" id="spd">
								<%= pokemon.stats.specialDefense %>
							</p>
						</div>
						<div class="stat">
							<p>SPE</p>
							<p class="stat-value" id="spe">
								<%= pokemon.stats.speed %>
							</p>
						</div>
					</section>
					<p id="date-caught">Caught on 30/04/2024</p>
				</section>
				<section id="pokemon-images">
					<section id="loading-screen" class="contained">
						<div class="spinner"></div>
						<p>Loading, please wait...</p>
					</section>
				</section>
			</section>
			<video autoplay muted loop id="backgroundvideo">
				<source
					src="/assets/img/comperatorbackground.mp4"
					type="video/mp4"
				/>
				Your browser does not support HTML5 video.
			</video>
		</main>
		<%- include("partials/footer") %>
	</body>
</html>
